In [4]:
import redis
import pymysql
import json
from datetime import datetime
import time
import random

In [5]:
config_redis = {'host': 'localhost',
                'port': 6379,
                'db': 0,}

config_mysql = {'host': 'localhost',
                'port': 3306,
                'user': 'root',
                'password': 'test',
                'db':'testdb'}

In [6]:
pool_redis = redis.ConnectionPool(**config_redis)
r = redis.StrictRedis(connection_pool = pool_redis)

conn = pymysql.connect(**config_mysql)
cur = conn.cursor()
conn.autocommit(True)

In [122]:
def sensor_list():
    lists = [{'sensor_id': 't_001', 'machine_id': 't', 'name': 't_001', 'type': 'counter'},
            {'sensor_id': 't_002', 'machine_id': 't', 'name': 't_002', 'type': 'towerlight'},
            {'sensor_id': 's_001', 'machine_id': 's', 'name': 's_001', 'type': 'temperature'},
            {'sensor_id': 's_002', 'machine_id': 's', 'name': 's_002', 'type': 'counter'}]
    
    sensors = {i['sensor_id']: i['type'] for i in lists}
    r.delete('sensors')
    r.hmset('sensors', sensors)

    cur.execute("""DROP TABLE IF EXISTS sensor""")
    cur.execute("""CREATE TABLE sensor (sensor_id VARCHAR(32), machine_id VARCHAR(32),
                                        name VARCHAR(16) NOT NULL, type VARCHAR(16) NOT NULL)""")  
    cur.execute("""USE testdb""")
    sql = """INSERT INTO sensor VALUES (%s, %s, %s, %s)"""
    for i in lists:
        cur.execute(sql, (tuple(i.values())))

In [123]:
sensor_list()

In [ ]:
cur.execute("""DROP TABLE IF EXISTS sensor""")
cur.execute("""CREATE TABLE sensor (sensor_id VARCHAR(32), machine_id VARCHAR(32),
                                        name VARCHAR(16) NOT NULL, type VARCHAR(16) NOT NULL)""")
sql = """INSERT INTO sensor VALUES (%s, %s, %s, %s)"""
for i in lists:
cur.execute(sql, (tuple(i.values())))

In [8]:
time_now = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
input_data = [('t_001', 'w001', 'p001', time_now, 5),
                      ('s_001', time_now, 40),
                      ('t_002', time_now, '001')]
input_data

[('t_001', 'w001', 'p001', '2018-05-28 15:38:27', 5),
 ('s_001', '2018-05-28 15:38:27', 40),
 ('t_002', '2018-05-28 15:38:27', '001')]

In [60]:
for i in input_data:
    print(i[0])

t_001
s_001
t_002

In [219]:
# 重置抽樣，有機會抽到相同的元素
''.join(map(str, random.choices([0, 1, 2], k = 3)))

'012'

In [53]:
input_data.pop()
input_data

{('s_001', '2018-05-28 12:08:32', 40),
 ('t_001', 'w001', 'p001', '2018-05-28 12:08:32', 5),
 ('t_002', '2018-05-28 12:08:32', '001')}

In [120]:
selfdict = {'id': 'a',
                    'time': '2015-03-05 05:03:05',
                    'v': 42.22
                    }

In [121]:
sql = """INSERT INTO temperature_data (sensor_id, datetime, value) VALUES (%s, %s, %s)"""
cur.execute(sql ,(tuple(selfdict.values())))

1

In [ ]:
sensors = {i['sensor_id']: i['type'] for i in lists}
sensors

In [148]:
input_data = ('s001', '111', '222', '20150203', 5)
type = r.hget('sensors', input_data[0])

if type == b'counter':
    print('aaa')
elif type == b'towerlight':
    print('aaa')
elif type == b'tempuature':
    print('aaa')
else:
    print('bbb')

bbb

In [96]:
'''
input_id = '555'
sensor_type = {s['type'] for s in sensor if input_id in s['s_id']}
if sensor_type == []:
    print('nothing')
else:
    print(sensor_type)
'''

{'counter'}